{% extends "base.html.twig" %}

{% block body %}
<div class="imageAccueil">
    <img src="\image\les-voitures-mythiques-pop-culture-en-version-transformers-une.jpg" alt="image representant une voiture" class="fondAccueil">
</div>
<h1>Louez votre voiture au meilleur prix !</h1>
<div id="carouselleExemple" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselleExemple" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselleExemple" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselleExemple" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselleExemple" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselleExemple" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselleExemple" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselleExemple" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src=".\image\66batmobile-800x800.jpg" class="d-block w-100" alt="Mont Fuji">
            <div class="carousel-caption d-none d-md-block">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quasi. Ducimus soluta nihil mollitia voluptatem magni placeat, commodi atque dolorem laudantium officia tempora dicta voluptas itaque, quod perferendis at ipsa voluptatum eius ex architecto quam, ad veniam sit aperiam! Voluptatem labore excepturi, quis deserunt explicabo ipsum fuga voluptatum maxime laborum.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src=".\image\a-team-800x800.jpg" class="d-block w-100" alt="Cerisier en fleurs">
            <div class="carousel-caption d-none d-md-block">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quasi. Ducimus soluta nihil mollitia voluptatem magni placeat, commodi atque dolorem laudantium officia tempora dicta voluptas itaque, quod perferendis at ipsa voluptatum eius ex architecto quam, ad veniam sit aperiam! Voluptatem labore excepturi, quis deserunt explicabo ipsum fuga voluptatum maxime laborum.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src=".\image\bigfoot-800x800.jpg" class="d-block w-100" alt="Sushis">
            <div class="carousel-caption d-none d-md-block">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quasi. Ducimus soluta nihil mollitia voluptatem magni placeat, commodi atque dolorem laudantium officia tempora dicta voluptas itaque, quod perferendis at ipsa voluptatum eius ex architecto quam, ad veniam sit aperiam! Voluptatem labore excepturi, quis deserunt explicabo ipsum fuga voluptatum maxime laborum.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src=".\image\ecto-1-800x800.jpg" class="d-block w-100" alt="Geisha">
            <div class="carousel-caption d-none d-md-block">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quasi. Ducimus soluta nihil mollitia voluptatem magni placeat, commodi atque dolorem laudantium officia tempora dicta voluptas itaque, quod perferendis at ipsa voluptatum eius ex architecto quam, ad veniam sit aperiam! Voluptatem labore excepturi, quis deserunt explicabo ipsum fuga voluptatum maxime laborum.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src=".\image\herbie-800x800.jpg" class="d-block w-100" alt="Sumo">
            <div class="carousel-caption d-none d-md-block">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quasi. Ducimus soluta nihil mollitia voluptatem magni placeat, commodi atque dolorem laudantium officia tempora dicta voluptas itaque, quod perferendis at ipsa voluptatum eius ex architecto quam, ad veniam sit aperiam! Voluptatem labore excepturi, quis deserunt explicabo ipsum fuga voluptatum maxime laborum.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src=".\image\mysterymachine-800x800.jpg" class="d-block w-100" alt="Samouraïs">
            <div class="carousel-caption d-none d-md-block">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quasi. Ducimus soluta nihil mollitia voluptatem magni placeat, commodi atque dolorem laudantium officia tempora dicta voluptas itaque, quod perferendis at ipsa voluptatum eius ex architecto quam, ad veniam sit aperiam! Voluptatem labore excepturi, quis deserunt explicabo ipsum fuga voluptatum maxime laborum.
                </p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src=".\image\wayne's world-800x800.jpg" class="d-block w-100" alt="Temples et sanctuaires">
            <div class="carousel-caption d-none d-md-block">
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, quasi. Ducimus soluta nihil mollitia voluptatem magni placeat, commodi atque dolorem laudantium officia tempora dicta voluptas itaque, quod perferendis at ipsa voluptatum eius ex architecto quam, ad veniam sit aperiam! Voluptatem labore excepturi, quis deserunt explicabo ipsum fuga voluptatum maxime laborum.
                </p>
               
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselleExemple" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselleExemple" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
  
{% endblock %}